@font-face {
  font-family: google-sans;
  src: url("../fonts/productSansR.ttf");
}

*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: google-sans, Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.5s;
  transition: background 0.5
}

body,
html {
  font-size: 16px;
}


ul li {
  list-style-type: none;
}

legend,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  padding: 10px 5px;
  text-align: center;
}

:root {
  /*universal*/
  --semi-trans: rgba(0, 0, 0, 0.7);
  --alert-bg: #FBBC04;
  --tab-pointer: #8AB4F8;
  --side-nav-bg: #E0E0E0;
  --nav-bg-2: #F1F1F1;
  --border: #cccccc;
  --button-bg: #D2D2D2;
  --input-bg: #D2D2D2;
  --nav-bg: #DCDCDC;
  --msg-og-bg: #D4E5FF;
  --msg-in-bg: #E7E7E7;
  --dm-msg-in-bg: #323232;
  --dm-msg-og-bg: #535353;
  /*dark*/
  --dm-body-bg: #242526;
  --dm-nav-shadow: 0 0 5px #000;
  --dm-button-bg: #313235;
  --dm-nav-bg: #202124;
  --dm-nav-bg-2: #313131;
  --dm-icon: #E8EAED;
  --dm-head: #AECBFA;
  --dm-input-bg: #313235;
  --dm-p1-text: #FFFFFF;
  --dm-p2-text: #9AA0A6;
  --dm-links: #84B4F8;
  --dm-border: #5F6368;
  --dm-btn-bg: #84B4F8;
  --dm-side-nav-bg: #353640;
}

.bgred {
  background: red;
}

nav {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--dm-p1-text);
  padding: 0 5px;
  border-bottom: 1px solid #E4E4E4;
  z-index: 2;
  /* box-shadow: 0 0 5px #9D9D9D; */
}

.nav-item-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px #F3F3F3;
  font-weight: 900;
  background: var(--button-bg);
}

.button {
  height: 40px;
}

.cards {
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.block {
  width: 100%;
}

.spinner-box {
  background: var(--semi-trans);
  height: 50px;
  width: 50px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  display: grid;
  place-items: center;
  transform: translate(-50%, -50%);
}

brand {
  font-weight: bold;
  font-size: 2rem;
}

.container {
  padding: 55px 10px 0px 10px;
  text-align: justify;
}

.spinner {
  height: 30px;
  width: 30px;
  border: 5px solid #7D7D7D;
  border-top: 5px solid #CFCFCF;
  border-radius: 50%;
  animation: spin 0.5s linear infinite;
}

::-webkit-scrollbar {
  width: 5px;
  background: #777777;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: #8892FF;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.sb {
  display: flex;
  justify-content: space-between;
}

.sa {
  display: flex;
  justify-content: space-around;
}













.nav-items {
  display: flex;
  height: 40px;
  width: 100%;
  border-top: 1px solid var(--dm-border);
  border-bottom: 1px solid var(--dm-border);
  align-items: center;
}

.nav-items i {
  margin-right: 5px;
}

.overlay {
  position: fixed;
  inset: -100px;
  background: var(--semi-trans);
  z-index: 3;
}


.inp-cont {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.inp {
  margin: 0;
  width: 100%;
  padding: 25px 10px 10px 10px;
  outline: none;
  border: none;
  background: #F2F2F2;
  border-radius: 3px;
}

.hint {
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #888888;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  transition-delay: 0.2s;
  transition: 0.2s;
}

input:focus~.hint,
input:valid~.hint {
  top: 10px;
  font-size: 12px;
  color: var(--dm-body-bg);
  font-weight: bold;
}

.line {
  position: absolute;
  width: 100%;
  height: 3px;
  left: -100%;
  bottom: 0;
  background: #686FBD;
  transition: 0.2s;
}

.inp:focus~.line,
.inp:valid~.line {
  left: 0px;
}

.fm-10 {
  font-size: 10px;
}

.t-center {
  text-align: center;
}


.sidebar {
  position: fixed;
  height: 100vh;
  width: clamp(250px, 70%, 500px);
  background: var(--side-nav-bg);
  top: 0;
  left: -100%;
  padding: 10px;
  transition: left 0.3s;
  z-index: 4;
}

.side-nav-owner-pic {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

.owner-name {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}

.owner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.super-center {
  display: grid;
  place-items: center;
}

.t-50p {
  top: 100px;
}

.p-relate {
  position: relative;
}





.chat-box {
  height: 60px;
  align-items: center;
  border-bottom: 1px solid var(--dm-border);
}

.pp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.status {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: red;
}

.status[active] {
  background: green;
}

.v-center {
  align-items: center;
}

.hint-text {
  color: #CCCCCC;
}

.text-box {
  margin-left: 10px;
  height: 100%;
  align-items: center;
  width: clamp(200px, 50vw, 500px);
}

.fm-12 {
  font-size: 12px;
}

.bgg {
  background: green;
}

.profile-box {
  align-items: center;
}

.last-text, .time {
  color: var(--dm-p2-text);
}









.chat-box-div {
  width: 100%;
}
.chat-nav{
   height: 45px;
   position: fixed;
   padding: 0 10px;
   align-items: center;
   width: 100%;
   background: var(--nav-bg-2);
}
.pp-2{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.chat-text-box{
  position: fixed;
  bottom: 0;
  height: 50px;
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
  width: 100%;
  background: var(--nav-bg-2);
  z-index: 5;
}
.chat-text-box input{
  border: none;
  outline: none;
  background: var(--input-bg);
  padding: 10px;
  border-radius: 40px;
  width: 100%;
}



.chat-body-box{
  padding: 55px 10px;
  position: static;
  
}
.chat-holder{
  width: 70%;
  padding: 10px;
  margin-top: 5px;
  position: relative;
  z-index: -10;
}


.from-me{
  float:right;
  border-radius: 10px 10px 0 10px;
  background: var(--msg-og-bg);
}

.from-them{
  float: left;
  border-radius: 10px 10px 10px 0;
  background: var(--msg-in-bg);
}

.ques{
  font-size: 20px;
}
.option-box{
  display: flex;
  flex-direction: column;
}
.option-box .label-box{
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--dm-border);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.option-box .fa{
  font-size: 30px;
}
.option-box input[type="checkbox"]{
  display: none;
}



.flash-red {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.flash-green {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.flash-blue {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}
.flash-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}
.total-score{
  height: 40px;
  align-items: center;
}





















/* dark mode settings */
.dark-mode {
  background: var(--dm-body-bg);
  color: var(--dm-p1-text);
}

.dark-mode nav {
  background: var(--dm-nav-bg);
  border-bottom: 1px solid var(--dm-border);
}

.dark-mode button{
  background: var(--dm-button-bg);
}
.dark-mode .button {
  background: var(--dm-btn-bg);
}

.dark-mode button:not(.button) .fa{
  color: #FFFFFF;
}
.dark-mode .dm-p1{
  color: var(--text);
}

.dark-mode .dm-p2 {
  color: var(--dm-p2-text);
}

.dark-mode input {
  background: var(--dm-input-bg);
  color: var(--dm-p2-text);
}

.dark-mode input:focus~.hint,
.dark-mode input:valid~.hint {
  top: 10px;
  font-size: 12px;
  font-weight: bold;
  color: var(--dm-p1-text);
}

.dark-mode .cards {
  border: 1px solid var(--dm-border);
}

.dark-mode .sidebar {
  background: var(--dm-side-nav-bg);
}
.dark-mode .chat-nav{
  background: var(--dm-nav-bg);
}

.dark-mode .chat-text-box{
  background: var(--dm-nav-bg);
}

.dark-mode .from-me{
  background: var(--dm-msg-og-bg);
}

.dark-mode .from-them{
  background: var(--dm-msg-in-bg);
}
.dark-mode .flash-red {
  color: #E42727;
  background-color: #A02E2E1a;
  border-color: #badbcc;
}

.dark-mode .flash-green {
  color: #56d364;
  background-color: #2ea0431a;
  border-color: #badbcc;
}

.dark-mode .flash-blue {
  color: #79c0ff;
  background-color: #388bfd1a;
  border-color: #b6d4fe;
}

.dark-mode .total-score button{
  color: #fff;
}